header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

header img {
    margin-left: 25px;
}


nav ul {
    margin-right: 38px;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    border-bottom: solid 1px;
    font-size: larger;
}

nav a.active {
    border-bottom: solid 1px;
    font-weight: bold;
}

.cart:hover {
    transform: scale(1.25);
}

.user:hover {
    transform: scale(1.25);
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.contain {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 80%;
    margin: 20px auto;
    margin-top: 60px;

}

.messageus {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 25px;
    width: 60%;
 
}

.messageus form {
    display: flex;
    flex-direction: column;
}

.details {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
    border-radius: 10px;
    width: 25%;
    height: 265px;
    align-content: center;
}

.inside {
    display: flex;
    align-items: center;
}

label {
    padding: 0px;
    margin: 0px;
    font-size: medium;
}

form input {
    width: 250px;
}

fieldset {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0px;
    margin: 0px;
    gap: 5px;
}

button {
    margin-top: 10px;
    width: 150px;
    height: 35px;
    background-color: rgb(34, 33, 31);
    color: white;
    border-radius: 15px;
    border: 1px solid black;
    display: block;
    margin-left: auto;
}

.location {
    text-align: center;
}