header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

header img {
    margin-left: 25px;
}

.box {
    color: rgb(0, 0, 0);
    width: 400px;
    height: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    margin: 35px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin: 10px auto;
}

label {
    font-size: large;
}

input {
    display: block;
    width: 300px;
    height: 30px;
    margin: 5px auto 10px;
    border-radius: 5px;
    border: 1px solid black
}

input:hover {
    outline: solid 1px;
}

input:focus {
    outline: solid 1px;
}


button {
    display: block;
    padding: 10px;
    width: 250px;
    margin: 20px auto;
    background-color: rgb(34, 33, 31);
    color: white;
    border-radius: 20px;
    border: 1px solid black
}

button:hover {
    cursor: pointer;
}